<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KARAOKE NHẠC QUÂN ĐỘI</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <div class="topbar">
        <div class="logo-box">
            <p class="logo123">KARAOKE</p>
            <p class="logo123">BÀI HÁT TRUYỀN THỐNG</p>
        </div>
    </div>
    <div class="video-background">
        <video autoplay muted loop id="bg-video">
            <source src="/img/11.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="content">
        <div class="sidebar"></div>
        <div class="videos">
            <!-- Các video-card sẽ được JS tạo ra -->
        </div>
    </div>
    <script src="/js/script.js"></script>

</body>

</html>