<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NHẠC QUÂN ĐỘI CÓ LỜI</title>
    <link rel="stylesheet" href="/css/music.css" />
</head>

<body>
    <div class="topbar">
        <div class="logo-box">
            <p class="logo123">BÀI HÁT TRUYỀN THỐNG</p>
        </div>
    </div>
 <!-- Nút Home floating dưới topbar bên phải -->
    <button id="homeBtn" class="floating-home-btn">
        <i class="fas fa-home"></i>
        <span class="btn-text">Trang chủ</span>
    </button>
    <div class="content">
        <div class="sidebar"></div>
        <div class="videos">
            <!-- Các video-card sẽ được JS tạo ra -->
        </div>
    </div>
    
    <script src="/js/script.js"></script>
</body>

</html>